<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdonce.UITestDemo">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jdonce.UITestDemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--验证手势锁-->
        <activity android:name="com.jdonce.UITestDemo.gesture.VerifyGestureLockActivity" />
        <!--设置手势锁-->
        <activity android:name="com.jdonce.UITestDemo.gesture.SettingGestureLockActivity" />
        <!--新手引导页测试入口-->
        <activity android:name="com.jdonce.UITestDemo.guideView.GuideViewTestActivity" />
        <!--单个引导-->
        <activity android:name="com.jdonce.UITestDemo.guideView.SingleViewGuideActivity" />
        <!--多个引导-->
        <activity android:name="com.jdonce.UITestDemo.guideView.MultipleViewGuideActivity" />
        <!--动画-->
        <activity android:name="com.jdonce.UITestDemo.animationView.AnimationViewActivity" />
        <!--拖动-->
        <activity android:name="com.jdonce.UITestDemo.dragView.DragViewActivity" />
    </application>

</manifest>